<div class="dropdown">
    <a class="btn btn-outline-danger dropdown-toggle" href="#" id="manageDropdownMenu" data-bs-toggle="dropdown">
        Manage
    </a>
    <ul class="dropdown-menu" aria-labelledby="manageDropdownMenu">
        <li>
            <a class="dropdown-item" asp-controller="DbManage" asp-action="Index" asp-area="Database">Database</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="Contact" asp-action="Index" asp-area="Contact">Quản lí liên hệ</a>
        </li>
    </ul>
</div>