@{
    ViewData["Title"] = "Xoa Db";
}
<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger"> chac xoa chuaw</p>
<form method="post">
    <button class="submit">
        Xoa db
    </button>
</form>